.img-cartola {
  width: 25%;
  height: 100%;
  border-radius: 0.5rem;
}

li,
ul,
span,
div, a, p{
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

.estilo-ul-lista-times {
  background-color: #fff;
  padding: 2rem;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.time-items-list {
  display: flex;
  align-items: center;
}

.nome-apelido-times {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 5rem;
  margin-left: 1rem;
}

.nome-time {
  font-size: 18px;
  font-weight: 800;
  font-family: sans-serif;
}
.apelido-time {
  font-size: 12px;
  font-weight: 300;
  font-family: sans-serif;
}
.img-jogador {
  width: 100px;
  height: 100px;
}

.nome-jogador-e-foto {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  font-weight: 800;
  font-family: sans-serif;
}

.nome-times-jogadores{
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 2rem;
}